<section class="fade-cont">
    <section class="funds">
        <p>$ 10000000000000000</p>
    </section>

    <section class="prices">

        <section class="location">
            <h3>Drymma</h3>
        </section>

        <section class="location">
            <h3>Stillben</h3>
        </section>

        <section class="location">
            <h3>Emon</h3>
        </section>

        <section class="location">
            <h3>Test</h3>
        </section>

        <section class="location">
            <h3>Test</h3>
        </section>

        <section class="location">
            <h3>Test</h3>
        </section>

        <section class="location">
            <h3>Test</h3>
        </section>

        <section class="location">
            <h3>Test</h3>
        </section>

        <section class="location">
            <h3>Test</h3>
        </section>

        <section class="location">
            <h3>Test</h3>
        </section>

        <section class="location">
            <h3>Test</h3>
        </section>

        <section class="location">
            <h3>Test</h3>
        </section>

        <section class="location">
            <h3>Test</h3>
        </section>

    </section>

    <section class="transaction">
        <section class="buy-area">
            <h1>Buy</h1>
            <input class="buy-input" type="text" placeholder="Item">
            <input class="buy-input" type="number" placeholder="quantity">
            <input class="buy-input" type="number" placeholder="Price / Item">
        </section>
        <section class="sell-area">
            <h1>Sell</h1>
            <input class="sell-input" type="text" placeholder="Item">
            <input class="sell-input" type="number" placeholder="Quantity">
            <input class="sell-input" type="number" placeholder="Price / Item">
        </section>
    </section>

    <section class="ledger">
        <setion class="open-ledger">
            <p>Open Log</p>
        </setion>
        <img src="resources/ledger-background.svg">
    </section>

    <section class="supplies">
        <section class="menu-arrow" ng-click="$ctrl.goLanding();">
            <p>Menu</p>
        </section>
        <section class="open-supplies">
            <p>Open Supplies</p>
        </section>
        <section class="map-arrow" ng-click="$ctrl.goMap();">
            <p>Map</p>
        </section>
    </section>
</section>