<section class="fade-cont">
    <section class="funds">
        <p>$ 10000000000000000</p>
    </section>

    <section class="prices">

        <section class="location">
            <!--Filled with info from class-->
        </section>

    </section>

    <section class="transaction">
        <form ng-submit="$ctrl.buy($ctrl.newEntry);" class="buy-area">
            <button class="buy-btn">Buy</button>
            <input ng-model="$ctrl.newEntry.item" class="buy-input" type="text" placeholder="Item">
            <input ng-model="$ctrl.newEntry.quantity" class="buy-input" type="number" placeholder="quantity">
            <input ng-model="$ctrl.newEntry.price" class="buy-input" type="number" placeholder="Price / Item">
        </form>
        <form ng-submit="$ctrl.sell($ctrl.newEntry);" class="sell-area">
            <button class="buy-btn">Sell</button class="buy-btn">
            <input ng-model="$ctrl.newEntry.item" class="sell-input" type="text" placeholder="Item">
            <input ng-model="$ctrl.newEntry.quantity" class="sell-input" type="number" placeholder="Quantity">
            <input ng-model="$ctrl.newEntry.price" class="sell-input" type="number" placeholder="Price / Item">
        </form>
    </section>

    <section class="ledger">
        <setion ng-click="$ctrl.toggleLedger();" class="open-ledger">
            <p>Open Log</p>
        </setion>
        <img src="resources/ledger-background.svg">
    </section>

    <section class="ledger-page">
            <i class="material-icons ledger-close" style="font-size: 80px" ng-click="$ctrl.toggleLedger();">clear</i>
            <section class="item"></section>
        </section>

    <section class="supplies">
        <section ng-click="$ctrl.toggleSupplies();" class="open-supplies">
            <p>Open Supplies</p>
        </section>
        <img src="resources/supplies-background.png">
    </section>

    <section class="supplies-page">
        <section class="product"></section>
        <i class="material-icons supplies-close" style="font-size: 80px" ng-click="$ctrl.toggleSupplies();">clear</i>
    </section>

    <section class="bottom-nav">
        
        <section ng-click="$ctrl.goParty();" class="open-party">
            <p>Party</p>
        </section>

        <section class="menu-arrow" ng-click="$ctrl.goLanding();">
            <p>Menu</p>
        </section>

        <section class="map-arrow" ng-click="$ctrl.goMap();">
            <p>Map</p>
        </section>
    </section>
</section>