<section class="fade-cont">
    <img class="title" src="../../../resources/DD-Logo-navy-white4.png">

    <img src="../../../public/resources/landing.jpg" class="landing">
    <section class="menu-cont">

        <section class="map-button button" ng-click="$ctrl.goMap();">
            <h2>Map</h2>
        </section>

        <section class="log-button button">
            <h2><span style="text-decoration: line-through">Log</span></h2>
        </section>

        <section class="party-button button">
                <h2><span style="text-decoration: line-through">Party Members</span></h2>
        </section>

    </section>
</section>