<img onLoad="window.scroll(657, 400)" class="map-area" src="../../../resources/map.png">

<section ng-click="$ctrl.openWestruun();" class="westruun">
    <p>.</p>
</section>

<section ng-show="$ctrl.westruunInfo" class="westruun-information">
    <i class="material-icons close-btn" ng-click="$ctrl.openWestruun();">clear</i>
    <p>Test</p>
</section>


<section ng-click="$ctrl.openDrynna();" class="drynna">
    <p>.</p>
</section>

<section ng-show="$ctrl.drynnaInfo" class="drynna-information">
        <i class="material-icons close-btn" ng-click="$ctrl.openDrynna();">clear</i>
        <p>Test</p>
    </section>


<section ng-click="$ctrl.openStillben();" class="stillben">
    <p>.</p>
</section>

<section ng-show="$ctrl.stillbenInfo" class="stillben-information">
        <i class="material-icons close-btn" ng-click="$ctrl.openStillben();">clear</i>
        <p>Test</p>
    </section>