<section class="fade-cont">
    <section class="frame-cont">

        <section class="character Fred">
            <section class="img-frame Fred-img">
                <img src="/resources/fred.jpg_large">
            </section>
        </section>
        <section class="character Feng">
            <p>Feng</p>
            <section class="img-frame"></section>
        </section>
        <section class="character Crandal">
            <p>Crandal</p>
            <section class="img-frame"></section>
        </section>
        <section class="character Malancar">
            <p>Malancar</p>
            <section class="img-frame"></section>
        </section>
        <section class="character Romilus">
            <p>Romilus</p>
            <section class="img-frame"></section>
        </section>
        <section class="character Mugen">
            <section class="img-frame">
                <img src="/resources/Mugen.jpg">
            </section>
        </section>



    </section>



    <section class="bottom-nav">
            <section class="map-arrow-char" ng-click="$ctrl.goMap();">
                    <p>Map</p>
                </section>

            <section class="menu-arrow-char" ng-click="$ctrl.goLanding();">
                <p>Menu</p>
            </section>
        

            <section ng-click="$ctrl.goLog();" class="open-supplies">
                    <p>Log</p>
                </section>
        </section>


</section>