<section class="fade-cont">
    <section class="frame-cont">

        <section class="character Fred">
            <section class="img-frame Fred-img">
                <img src="resources/fred.jpg">
            </section>
            <section class="char-desc">
                <h2>Fred the Brass</h2>
                <p>Brass Dragonborn Palandin</p>
                <p>Too honorable for his own good.</p>
            </section>
        </section>
        <section class="character Feng">
            <section class="img-frame"></section>
            <section class="char-desc">
                <h2>Feng Mao</h2>
                <p>Monk</p>
                <p>He's convinced he's a prophet.</p>
            </section>
        </section>
        <section class="character Crandal">
            <section class="img-frame"><img src="resources/Crandal.jpg"></section>
            <section class="char-desc">
                <h2>Crandal</h2>
                <p>Changling Wizard</p>
                <p>A shifty guy, literally.</p>
            </section>
        </section>
        <section class="character Malancar">
            <section class="img-frame"></section>
            <section class="char-desc">
                <h2>Malancar</h2>
                <p>A half elf monk.</p>
            </section>
        </section>
        <section class="character Romilus">
            <section class="img-frame"><img src="resources/Romilus.jpg"></section>
            <section class="char-desc">
                <h2>Romilus Tealeaf</h2>
                <p>A Drow rogue raised by halflings</p>
            </section>
        </section>
        <section class="character Mugen">
            <section class="img-frame">
                <img src="resources/Mugen.jpg">
            </section>
            <section class="char-desc">
                <h2>Mugen Whitesqual</h2>
                <p>The most irritating Tiefling Warlock from the sea.</p>
            </section>
        </section>



    </section>



    <section class="bottom-nav">
            <section class="map-arrow-char" ng-click="$ctrl.goMap();">
                    <p>Map</p>
                </section>

            <section class="menu-arrow-char" ng-click="$ctrl.goLanding();">
                <p>Menu</p>
            </section>
        

            <section ng-click="$ctrl.goLog();" class="open-supplies">
                    <p>Log</p>
                </section>
        </section>


</section>