<section class="fade-cont">

    <section class="game-board">

        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
    </section>






</section>