<section class="fade-cont">

    <!--<video style="display: none" src="resources/ocean-video.mp4" class="ocean-background"></video> -->

    <section class="board-settings">
        <img class="settings-btn" src="resources/cog.svg">
    </section>

    <section class="settings-menu">

        <h2 class="settings-header">Settings</h2>
        <section class="settings-functionality">
            
            <section class="map-btns">
                <p>Maps</p>

                <button type="button" ng-click="$ctrl.changeMap('dockSide');">Dockside</button>

                <button type="button" ng-click="$ctrl.changeMap('swampOutpost');">Swamp Outpost</button>

                <button type="button" ng-click="$ctrl.changeMap('deepSwamp');">Deep Swamp</button>

                <button type="button" ng-click="$ctrl.changeMap('desertRuins');">Desert Ruins</button>

                <button type="button" ng-click="$ctrl.changeMap('forestRoad');">Forest Road</button>

                <button type="button" ng-click="$ctrl.changeMap('rockyRoad');">Rocky Road</button>

                <button type="button" ng-click="$ctrl.changeMap('riverCrossing');">River Crossing</button>
            </section>

            <section class="grid-btns">
                <button type="button" ng-click="$ctrl.changeMap('showBorder');">Show</button>
                <p>Grid</p>
                <button type="button" ng-click="$ctrl.changeMap('hideBorder');">Hide</button>
            
            </section>
        </section>
    </section>

    <section class="game-board">

        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>
        <section class="tile"></section>

    </section>






</section>